* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4{
    margin-bottom: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    padding-bottom: .5rem;
}
header button{
    padding: .3rem 1.5rem;
    border-radius: 40px;
    background-color: rgb(226, 238, 248);
    color: rgb(6, 122, 194);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    
}
.card{
    margin: 0 2rem 2rem 0;
}
.search{
    text-align: center;
}
.search button{
    padding: 0 2rem;
    margin-left: 2rem;
}